html:root.theme-dark,html:root.theme-light {
    --Split-View-Border: rgba(var(--UI0RGB),var(--Opacity5));
    --Split-View-Right-Background: var(--Base3)
}

.aq-collapse-panels {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    position: relative;
    width: 100%
}

.aq-collapse-panels.off .left {
    transition: width .2s ease;
    width: 100%
}

.aq-collapse-panels.off .right {
    box-shadow: none;
    flex: 0 1;
    left: auto;
    right: -100%;
    transition: none;
    transition: right .2s ease
}

.aq-collapse-panels .aq-panel {
    bottom: 0;
    box-sizing: border-box;
    flex: 1 1;
    left: 0;
    min-width: 800px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50%
}

.aq-collapse-panels .left {
    min-width: auto;
    overflow-x: auto;
    transition: width .7s ease;
    width: calc(100% - 800px)
}

.aq-collapse-panels .right {
    background-color: var(--Split-View-Right-Background);
    border-left: 1px solid var(--Split-View-Border);
    box-shadow: var(--BoxShadow2);
    left: auto;
    right: 0;
    transition: right .35s ease;
    z-index: 3000
}

.aq-collapse-panels .aq-panel-wrapper {
    height: 100%;
    min-width: 800px;
    width: 100%
}

@media screen and (min-width: 1600px) {
    .aq-collapse-panels .left {
        width:50%
    }
}

html:root.theme-dark,html:root.theme-light {
    --Report-Status-Label-Background: var(--UI5);
    --Report-Status-Label-Text: var(--Font-Primary);
    --Report-Status-Label-Icon: var(--Font-Primary)
}

.report-status-label {
    display: inline-block;
    font: var(--Font-Scale-Micro1);
    height: 24px;
    text-align: center;
    vertical-align: top;
    width: 106px
}

.report-status-label .aq-label-icon {
    display: inline-block;
    height: 14px;
    line-height: 22px;
    margin-right: 4px;
    margin-top: 4px;
    vertical-align: top;
    width: 14px
}

.report-status-label .aq-label-icon svg {
    height: 14px;
    width: 14px
}

.report-status-label .aq-label-icon path {
    fill: var(--Report-Status-Label-Icon)
}

.report-status-label .aq-label-text {
    display: inline-block;
    line-height: 24px;
    vertical-align: top
}

.report-status-label.new {
    background-color: var(--UI1);
    color: var(--Font-White)
}

.report-status-label.disabled,.report-status-label.nolicense,.report-status-label.nosettings {
    background-color: var(--Report-Status-Label-Background);
    color: var(--Report-Status-Label-Text)
}

.aq-spinner {
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: top;
    width: 20px
}

.aq-spinner:before {
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.aq-spinner div {
    -webkit-animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
    animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
    border: 2px solid var(--UI1);
    border-color: var(--UI1) transparent transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 20px;
    position: absolute;
    width: 20px
}

.aq-spinner div:first-child {
    -webkit-animation-delay: -.45s;
    animation-delay: -.45s
}

.aq-spinner div:nth-child(2) {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.aq-spinner div:nth-child(3) {
    -webkit-animation-delay: -.15s;
    animation-delay: -.15s
}

@-webkit-keyframes lds-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes lds-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

html:root.theme-dark,html:root.theme-light {
    --Report-Item-Background: var(--BaseWhite);
    --Report-Item-Border: rgba(var(--UI0RGB),var(--Opacity5));
    --Report-Item-Cover-Background: rgba(var(--UI6RGB),var(--Opacity3));
    --Report-Item-Cover-Hover-Background: rgba(var(--BaseWhiteRGB),var(--Opacity2));
    --Report-Item-Cover-Hover-Border: var(--UI4);
    --Report-Item-Cover-Progress-Background: var(--BaseWhite);
    --Report-Item-Cover-Blocked-Background: rgba(var(--UI5RGB),0.8);
    --Report-Magnify-Icon: #d9d9d9;
    --Report-List-Item-Background: var(--Base4);
    --Report-List-Item-Border: rgba(var(--UI0RGB),var(--Opacity6));
    --Report-List-Item-Hover-Border: rgba(var(--UI0RGB),var(--Opacity4))
}

.report-item.Thumbnail {
    height: 346px;
    position: relative;
    width: 200px
}

.report-item.Thumbnail .item-thumb-container {
    background-color: var(--Report-Item-Background);
    box-shadow: var(--BoxShadow1);
    overflow: hidden;
    position: relative
}

.report-item.Thumbnail .item-thumb-base,.report-item.Thumbnail .item-thumb-container {
    display: inline-block;
    height: 290px;
    vertical-align: top;
    width: 200px
}

.report-item.Thumbnail .item-thumb-base img {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 100%
}

.report-item.Thumbnail .item-thumb-status {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.report-item.Thumbnail .item-thumb-status .report-status-label {
    bottom: 0;
    position: absolute;
    right: 0
}

.report-item.Thumbnail .item-thumb-status.blocked {
    pointer-events: none
}

.report-item.Thumbnail .item-thumb-status.blocked:before {
    background-color: var(--Report-Item-Cover-Blocked-Background);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.report-item.Thumbnail .item-thumb-cover {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.report-item.Thumbnail .item-title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 40px;
    margin-top: 16px;
    max-height: 40px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    word-break: keep-all
}

.report-item.Thumbnail.report-item-published:hover .item-thumb-cover {
    align-items: center;
    background-color: var(--Report-Item-Cover-Hover-Background);
    border: 1px solid var(--Report-Item-Cover-Hover-Border);
    cursor: pointer;
    display: flex;
    justify-content: center
}

.report-item.Thumbnail.report-item-published:hover .item-thumb-cover .ns-icon {
    height: 56px;
    width: 56px
}

.report-item.Thumbnail.report-item-published:hover .item-thumb-cover .ns-icon path {
    fill: var(--Report-Magnify-Icon);
    opacity: 1!important
}

.report-item.Thumbnail.report-item-unpublished .item-thumb-base img {
    opacity: .4
}

.report-item.Thumbnail.report-item-unpublished .item-thumb-cover.generating {
    align-items: center;
    background-color: var(--Report-Item-Cover-Progress-Background);
    color: var(--Font-Highlight);
    cursor: default;
    display: flex;
    flex-direction: column;
    font: var(--Font-Scale-Header3);
    justify-content: center
}

.report-item.Thumbnail.report-item-unpublished .item-thumb-cover.generating .aq-spinner {
    margin-bottom: 14px
}

.report-item.Thumbnail.report-item-unpublished .item-thumb-cover.fail {
    background-color: var(--Report-Item-Cover-Progress-Background);
    display: block
}

.report-item.Thumbnail.report-item-unpublished:hover .item-thumb-cover.none {
    background-color: var(--Report-Item-Cover-Hover-Background);
    border: 1px solid var(--Report-Item-Cover-Hover-Border);
    display: block
}

.report-item.Thumbnail.report-item-unpublished:hover .item-thumb-cover.none .ns-button {
    bottom: 12px;
    left: 12px;
    position: absolute;
    right: 12px
}

.report-item.List,.report-item.List .item-thumb-container {
    height: 100%;
    position: relative;
    width: 100%
}

.report-item.List .item-thumb-container {
    background-color: var(--Report-List-Item-Background);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 16px
}

.report-item.List .item-thumb-container:before {
    border: 1px solid var(--Report-List-Item-Border);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.report-item.List .item-thumb-container:hover:before {
    border-color: var(--Report-List-Item-Hover-Border)
}

.report-item.List .item-thumb-container:hover .report-status-label {
    display: none
}

.report-item.List .item-thumb-container:hover .ns-button {
    display: block;
    margin-top: -4px
}

.report-item.List .item-thumb-container.no-hover {
    background-color: transparent;
    pointer-events: none
}

.report-item.List .item-thumb-container.no-hover:before {
    border-color: var(--Report-List-Item-Border)
}

.report-item.List .ns-button {
    display: none
}

.report-item.List .item-title {
    color: var(--Font-Secondary);
    flex: 1 1;
    font: var(--Font-Scale-Header2);
    overflow: hidden;
    padding: 5px 12px 4px 16px;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 0
}

.report-item.List .report-status-label {
    position: absolute;
    right: 0;
    top: 0
}

.report-item.List.report-item-published .item-thumb-container:hover {
    cursor: pointer
}

.report-item.List.report-item-published .item-thumb-container:hover .report-status-label {
    display: block
}

.report-item.List .item-thumb-cover.generating {
    align-items: center;
    background-color: var(--Report-List-Item-Background);
    bottom: 0;
    color: var(--Font-Highlight);
    cursor: default;
    display: flex;
    flex-direction: row;
    font: var(--Font-Scale-Header3);
    justify-content: flex-start;
    left: 0;
    padding: 17px;
    position: absolute;
    right: 0;
    top: 0
}

.report-item.List .item-thumb-cover.generating .aq-spinner {
    margin-right: 18px
}

.aq-analysis-report-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
    width: 100%
}

.aq-analysis-report-container .aq-report-header {
    display: flex;
    flex-basis: 72px;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 72px;
    padding: 24px 24px 18px
}

.aq-analysis-report-container .aq-report-body {
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth
}

.aq-analysis-report-container .report-header-info {
    display: flex;
    flex: 1 1;
    flex-wrap: nowrap
}

.aq-analysis-report-container .report-header-info .title {
    font: var(--Font-Scale-Header1);
    line-height: 32px;
    margin-right: 24px
}

.aq-analysis-report-container .report-header-info .header-info-functions {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    flex-wrap: nowrap
}

.aq-analysis-report-container .report-header-info .header-info-functions li {
    margin-right: 8px
}

.aq-analysis-report-container .report-header-info .header-info-functions .ns-button-icon-wrap {
    margin-right: 0
}

.aq-analysis-report-container .aq-report-body.Thumbnail ul {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-between;
    padding-left: calc(30% - 180px);
    padding-right: calc(30% - 180px);
    padding-top: 24px;
    width: 100%
}

.aq-analysis-report-container .aq-report-body.Thumbnail .report-item-wrap {
    flex: 0 1 200px;
    margin-bottom: 48px
}

.aq-analysis-report-container .aq-report-body.List ul {
    padding: 24px
}

.aq-analysis-report-container .aq-report-body.List .report-item-wrap {
    height: 64px;
    margin-bottom: 8px
}

.aq-analysis-report-container .aq-report-body.List .report-item-wrap:last-child {
    margin-bottom: 0
}

#aq-analysis-popover-reportinfo ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 24px
}

#aq-analysis-popover-reportinfo ul li:last-child {
    margin-bottom: 0
}

#aq-analysis-popover-reportinfo ul .label {
    margin-right: 24px;
    width: 106px
}

#aq-analysis-popover-reportinfo ul .value {
    flex: 1 1;
    font: var(--Font-Scale-Body3)
}

#aq-analysis-popover-reportinfo ul a {
    color: var(--Font-Highlight)
}

#aq-analysis-popover-reportinfo ol.list-decimal {
    list-style-type: decimal!important;
    padding-left: 12px
}

#aq-analysis-popover-reportinfo ol.list-decimal li {
    display: list-item;
    list-style-type: decimal;
    margin-bottom: 0
}

html:root.theme-dark,html:root.theme-light {
    --Analysis-Page-Header-Info-Divider: rgba(var(--UI0RGB),var(--Opacity5));
    --Analysis-Page-Header-Filter-Divider: rgba(var(--UI0RGB),var(--Opacity5));
    --Filter-Count-Background: var(--UI1);
    --Analysis-List-Header-Divider: rgba(var(--UI0RGB),var(--Opacity6));
    --Analysis-Row-Border: rgba(var(--UI0RGB),var(--Opacity7));
    --Analysis-Download-Selected-Label: var(--Font-Tertiary)
}

.aq-analysis-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.aq-analysis-list-container .aq-list-header {
    height: 209px;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px
}

.aq-analysis-list-container .aq-list-footer {
    height: 81px;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 17px
}

.aq-analysis-list-container .aq-list-footer .ns-pagination * {
    box-sizing: initial
}

.aq-analysis-list-container .list-header-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 26px;
    padding-top: 26px
}

.aq-analysis-list-container .list-header-info .info-title {
    font: var(--Font-Scale-Super-Header);
    margin-right: 24px
}

.aq-analysis-list-container .list-header-info .info-progress {
    padding-top: 5px
}

.aq-analysis-list-container .list-header-info .progress-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.aq-analysis-list-container .list-header-info .progress-items .progress-item {
    color: var(--Font-Tertiary);
    font: var(--Font-Scale-Body3);
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top
}

.aq-analysis-list-container .list-header-info .progress-items .progress-item .label {
    margin-right: 4px
}

.aq-analysis-list-container .list-header-info .progress-items .progress-item:after {
    background-color: var(--Analysis-Page-Header-Info-Divider);
    content: "";
    height: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px
}

.aq-analysis-list-container .list-header-info .progress-items .progress-item:first-child {
    padding-left: 0
}

.aq-analysis-list-container .list-header-info .progress-items .progress-item:last-child {
    margin-right: 0;
    padding-right: 0
}

.aq-analysis-list-container .list-header-info .progress-items .progress-item:last-child:after {
    display: none
}

.aq-analysis-list-container .list-header-filter {
    border-bottom: 1px solid var(--Analysis-Page-Header-Filter-Divider);
    padding-bottom: 16px
}

.aq-analysis-list-container .list-header-filter .header-filter-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.aq-analysis-list-container .list-header-filter .filter-item {
    margin-right: 8px
}

.aq-analysis-list-container .list-header-filter .status {
    width: 124px
}

.aq-analysis-list-container .list-header-filter .status .ns-dropdown-item {
    padding-left: 36px;
    position: relative
}

.aq-analysis-list-container .list-header-filter .status .ns-dropdown-item.selected:before {
    background-image: var(--ComboBox-Selected-Icon);
    background-size: cover;
    content: "";
    display: block;
    height: 16px;
    left: 12px;
    position: absolute;
    top: 10px;
    width: 16px
}

.aq-analysis-list-container .list-header-filter .patient-id,.aq-analysis-list-container .list-header-filter .patient-name {
    width: 144px
}

.aq-analysis-list-container .list-header-filter .patient-gender {
    width: 100px
}

.aq-analysis-list-container .list-header-filter .search .ns-button {
    min-width: auto;
    white-space: nowrap
}

.aq-analysis-list-container .list-header-filter .search .aq-icon-button {
    padding: var(--IconButton-Medium-Padding);
    width: 40px
}

.aq-analysis-list-container .list-header-filter .search .aq-icon-button .ns-button-icon-wrap {
    height: var(--IconButton-Medium-Icon-Wrap-Size);
    margin-top: 0;
    width: var(--IconButton-Medium-Icon-Wrap-Size)
}

.aq-analysis-list-container .list-header-filter .search .aq-icon-button .ns-button-icon-wrap svg {
    height: var(--IconButton-Medium-Icon-Wrap-Size);
    width: var(--IconButton-Medium-Icon-Wrap-Size)
}

.aq-analysis-list-container .list-header-filter .reset .ns-button {
    min-width: auto;
    white-space: nowrap
}

.aq-analysis-list-container .list-header-filter .reset .ns-button .cnt-dirty {
    background-color: var(--Filter-Count-Background);
    border-radius: 100%;
    color: var(--BaseWhite);
    display: inline-block;
    font: var(--Font-Scale-Header3);
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
    vertical-align: top;
    width: 20px
}

.aq-analysis-list-container .list-header-filter .reset .ns-button .icon-filter {
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    margin-top: 1px;
    vertical-align: top;
    width: 16px
}

.aq-analysis-list-container .list-header-filter .reset .ns-button .icon-filter svg {
    height: 16px;
    width: 16px
}

.aq-analysis-list-container .list-header-filter .reset .ns-button .icon-filter svg path {
    fill: var(--Font-Secondary)
}

.aq-analysis-list-container .list-header-filter .reset .ns-button:disabled .icon-filter svg path {
    fill: var(--Font-Secondary-Disabled)
}

.aq-analysis-list-container .list-header-functions {
    padding-bottom: 16px;
    padding-top: 16px
}

.aq-analysis-list-container .list-header-functions .header-function-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: top;
    width: 100%
}

.aq-analysis-list-container .list-header-functions .header-function-items .view {
    width: 186px
}

.aq-analysis-list-container .list-header-functions .download .ns-dropdown {
    display: inline-block;
    vertical-align: top
}

.aq-analysis-list-container .list-header-functions .download-selected-rows {
    color: var(--Analysis-Download-Selected-Label);
    display: inline-block;
    font: var(--Font-Scale-Header3);
    line-height: 40px;
    margin-left: 24px;
    vertical-align: top;
    white-space: nowrap
}

.aq-analysis-list-container .aq-list-body {
    flex: 1 1;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container {
    height: 100%;
    width: 100%
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ns-datagrid {
    min-height: auto
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-header-cell:after {
    background-color: var(--Analysis-List-Header-Divider);
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 1px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-header-cell[aria-colindex="1"] {
    padding-left: 8px;
    padding-right: 0;
    width: 32px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-header-cell[col-id=isModifiedPatient] {
    text-align: center
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-header-cell[col-id=isModifiedPatient] svg {
    margin-top: 2px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-header-cell[col-id=funcs]:after {
    display: none
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    vertical-align: middle
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-patientId,.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-patientName {
    padding-bottom: 9px;
    padding-top: 9px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-patientId span,.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-patientName span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-all
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-editted {
    text-align: center
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-editted>div {
    display: inline-block;
    height: 16px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-editted svg {
    align-self: center
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-no {
    font: var(--Font-Scale-Body3)
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-no span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-all
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-status {
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-status .status-inner-row {
    min-height: 20px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-birth span,.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-createdAt span {
    word-wrap: break-word;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    word-break: keep-all
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-last .aq-analysis-func-item {
    display: inline-block;
    margin-right: 4px;
    opacity: 0;
    vertical-align: top;
    visibility: hidden
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-last .aq-analysis-func-item:last-child {
    margin-right: 0
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-last .aq-analysis-dropdown-morewrap.open {
    opacity: 1;
    visibility: visible
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-last .ns-button {
    margin-right: 4px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-cell.aq-column-last .ns-button:last-child {
    margin-right: 0
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-analysis-progress {
    color: var(--Font-Tertiary);
    font: var(--Font-Scale-Title4);
    margin-top: 3px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-overlay-no-rows-wrapper {
    color: var(--Font-Tertiary);
    font: var(--Font-Scale-Body2)
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-header-cell-resize:after {
    background-color: var(--Analysis-List-Header-Divider);
    height: 16px;
    top: 8px;
    width: 1px
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-row-hover .ag-cell .aq-analysis-func-item {
    opacity: 1;
    visibility: visible
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-row-selected {
    border-color: var(--Analysis-Row-Border)!important
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-row-selected:before {
    background-color: var(--DataGrid-Cell-Selected-Background);
    border: none
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-checkbox-input-wrapper input {
    cursor: pointer!important
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-checkbox-input-wrapper input[disabled] {
    cursor: default!important;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-analysis-row-selected {
    border-color: var(--AQ-DataGrid-Row-Selected-Border)!important
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-analysis-row-selected:before {
    background-color: var(--AQ-DataGrid-Row-Selected-Background);
    border: 1px solid var(--AQ-DataGrid-Row-Selected-Border);
    border-bottom: none;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-nohover {
    cursor: default
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-nohover.ag-row-hover.ag-full-width-row.ag-row-group:before,.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-nohover.ag-row-hover:not(.ag-full-width-row):before {
    display: none!important
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-hidecheck .ag-checkbox {
    visibility: hidden
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-disabled {
    color: var(--DataGrid-Cell-Disabled-Text);
    -webkit-user-select: none;
    user-select: none
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-disabled * {
    pointer-events: none;
    -webkit-user-select: none!important;
    user-select: none!important
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-disabled [col-id=funcs] .ns-button {
    pointer-events: visible;
    -webkit-user-select: auto!important;
    user-select: auto!important
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .aq-anlaysis-row-disabled.ag-row-hover:before {
    background-color: transparent
}

.aq-analysis-list-container .aq-list-body .ns-datagrid-container .ag-overlay-loading-wrapper {
    opacity: 0
}

#aq-analysis-modal-download-inprogress .ns-modal-content {
    line-height: 22px;
    padding-bottom: 24px
}

#aq-analysis-modal-download-inprogress .aq-spinner {
    margin-right: 12px
}

#aq-analysis-modal-download-inprogress .message {
    display: inline-block;
    vertical-align: top
}

.aq-down-csv {
    left: -999999px;
    opacity: 0;
    position: absolute;
    top: -999999px;
    visibility: hidden
}

#aq-modal-datadownload-unavailable .unavailable-wrapper .title {
    margin-top: 16px
}

#aq-modal-datadownload-unavailable .unavailable-wrapper .numbers {
    word-wrap: break-word;
    border: 1px solid rgba(var(--UI0RGB),var(--Opacity6));
    border-radius: 3px;
    height: 88px;
    margin-top: 4px;
    overflow-y: auto;
    padding: 9px 11px;
    scroll-behavior: smooth;
    width: 100%
}

#aq-page-analysis {
    height: 100%;
    overflow: hidden;
    width: 100%
}

/*# sourceMappingURL=726.508ed132.chunk.css.map*/
