body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --sys-typography-style-body3: 'Spoqa Han Sans Neo';
    
    /* font sizes */
    --sys-typography-style-body3-size: 14px;
    --font-size-3xl: 22px;
    --font-size-7xl: 26px;
    --sys-typography-style-header4-size: 12px;
    
    /* Colors */
    --sys-color-background-overlay: #282828;
    --sys-color-background-base: #0a0a0a;
    --comp-color-button-secondary-background-normal: rgba(255, 255, 255, 0.4);
    --comp-color-text-tertiary-foreground-normal: rgba(255, 255, 255, 0.6);
    --comp-color-listitem-basic-background-selected: rgba(255, 255, 255, 0.1);
    --comp-color-text-secondary-foreground-normal: rgba(255, 255, 255, 0.9);
    --comp-color-divider-basic-background-default: rgba(255, 255, 255, 0.2);
    --comp-color-accessbaritem-basic-background-normal: rgba(0, 0, 0, 0);
    --comp-color-accessbar-basic-background-normal: #383838;
    --comp-white-foreground-normal: #fff;
    --sys-color-background-black: #000;
    
    /* Spacing */
    --comp-radius-list: 2px;
    
    /* Gaps */
    --gap-base: 16px;
    --gap-9xs: 4px;
    --gap-12xs: 1px;
    --gap-7xs: 6px;
    --gap-xs: 12px;
    
    /* Paddings */
    --padding-9xs: 4px;
    --padding-xs: 12px;
    --padding-7xs: 6px;
    --padding-5xs: 8px;
    --padding-base: 16px;
    
    /* Border radiuses */
    --br-10xs: 3px;
    
    /* Effects */
    --sys-shadow-raised: 0px 2px 6px rgba(0, 0, 0, 0.2);
} 
