.patient-demographics {
    position: relative;
    font-size: var(--sys-typography-style-body3-size);
    color: var(--comp-white-foreground-normal);
}
.patient-id {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}
.id {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
}
.anonymous {
    align-self: stretch;
    position: relative;
    font-size: var(--sys-typography-style-body3-size);
    font-weight: 500;
    color: var(--comp-white-foreground-normal);
}
.female {
    align-self: stretch;
    position: relative;
    font-size: var(--sys-typography-style-body3-size);
    color: var(--comp-white-foreground-normal);
}
.div1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
}
.divider {
    align-self: stretch;
    position: relative;
    background-color: var(--comp-color-divider-basic-background-default);
    height: 1px;
}
.div {
    width: 280px;
    flex: 1;
    background-color: var(--sys-color-background-overlay);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}
.button {
    align-self: stretch;
    border-radius: var(--br-10xs);
    background-color: var(--comp-color-button-secondary-background-normal);
    border: 1px solid var(--comp-color-listitem-basic-background-selected);
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px var(--padding-base);
    min-height: 40px;
    font-size: var(--sys-typography-style-body3-size);
    color: var(--comp-white-foreground-normal);
}
.div9 {
    width: 280px;
    background-color: var(--sys-color-background-overlay);
    height: 298px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base);
    box-sizing: border-box;
}
.panel {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xs);
}
.tab-item {
    background-color: var(--comp-color-accessbar-basic-background-normal);
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-7xs) var(--padding-xs);
    box-sizing: border-box;
    min-height: 29px;
}
.icon-compair {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    opacity: 0.6;
}
.tab-item2 {
    flex: 1;
    background-color: var(--sys-color-background-overlay);
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-7xs) var(--padding-xs);
    box-sizing: border-box;
}
.tab-control {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xs);
}
.icon-windowing {
    width: 24px;
    position: relative;
    height: 24px;
    opacity: 0.6;
}
.tools {
    width: 32px;
    border-radius: var(--br-10xs);
    background-color: var(--comp-color-accessbaritem-basic-background-normal);
    border: 1px solid var(--comp-color-accessbaritem-basic-background-normal);
    box-sizing: border-box;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs);
}
.icon-zoomplus {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 0.6;
}
.divider1 {
    width: 1px;
    position: relative;
    background-color: var(--comp-color-divider-basic-background-default);
    height: 28px;
}
.tool-bar {
    align-self: stretch;
    background-color: var(--comp-color-accessbar-basic-background-normal);
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-base);
    box-sizing: border-box;
    gap: 8px;
}
.top {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.mid {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
}
.div18 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
}
.group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-9xs);
}
.bottom {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 2;
}
.frame-child {
    width: 331.3px;
    position: relative;
    height: 331.3px;
    object-fit: cover;
}
.frame-item {
    width: 9.5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--sys-color-functional-error);
    height: 9.5px;
}
.aif-location {
    position: relative;
}
.ellipse-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-6xs-3);
}
.frame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs-5);
}
.ellipse-div {
    width: 9.5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--sys-color-functional-info);
    height: 9.5px;
}
.frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent1 {
    position: absolute;
    top: 0px;
    right: -0.02px;
    border: 0.8px solid var(--comp-color-button-secondary-background-normal);
    box-sizing: border-box;
    width: 78.9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9.5px var(--padding-base-8);
    gap: var(--gap-6xs-3);
}
.child {
    position: absolute;
    top: 77.45px;
    left: -0.24px;
    width: 552px;
    height: 396px;
}
.item {
    position: absolute;
    top: 23.45px;
    left: -0.24px;
    width: 552px;
    height: 450px;
}
.div24 {
    position: absolute;
    top: calc(50% - 273.65px);
    left: calc(50% - 250.86px);
    border-bottom: 1.3px solid var(--comp-color-button-secondary-background-normal);
    border-left: 1.3px solid var(--comp-color-button-secondary-background-normal);
    box-sizing: border-box;
    width: 552.2px;
    height: 504.9px;
    overflow: hidden;
}
.div25 {
    position: relative;
    font-weight: 500;
}
.hu {
    position: absolute;
    top: calc(50% - 273.65px);
    left: calc(50% - 280.03px);
    height: 504.9px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 0px var(--padding-base-8);
    box-sizing: border-box;
}
.time {
    position: absolute;
    top: calc(50% + 234.45px);
    left: calc(50% - 250.86px);
    width: 552.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 47.3px 0px var(--padding-base-8);
    box-sizing: border-box;
}
.scan-time-sec {
    position: absolute;
    top: 529.33px;
    left: calc(50% - 18.94px);
    font-weight: 500;
}
.hu1 {
    position: absolute;
    top: calc(50% + 15.07px);
    left: 0px;
    font-weight: 500;
    text-align: center;
    transform:  rotate(-90deg);
    transform-origin: 0 0;
}
.contents {
    width: 602.7px;
    position: relative;
    height: 547.3px;
    text-align: right;
    font-size: var(--font-size-mini-2);
}
.frame-parent {
    position: absolute;
    top: 31.55px;
    left: 31.55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 31.6px;
}
.icon {
    width: 93.5px;
    position: relative;
    height: 23.7px;
    object-fit: cover;
}
.wrapper {
    position: absolute;
    top: 582.18px;
    left: 31.55px;
    width: 1296.9px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.case-1944-locationcurve {
    width: 1360px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 319px);
    left: calc(50% - 680px);
    background-color: var(--sys-color-background-black);
    height: 637.4px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 3;
    font-size: 15.78px;
}
.div14 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xs);
    position: relative;
}
.scrollbar {
    align-self: stretch;
    width: 16px;
    background-color: var(--comp-color-listitem-basic-background-selected);
}
.div13 {
    align-self: stretch;
    flex: 1;
    background-color: var(--sys-color-background-black);
    border: 1px solid var(--sys-color-background-overlay);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.div12 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xs);
}
.list-item {
    flex: 1;
    position: relative;
}
.listitem {
    align-self: stretch;
    background-color: var(--comp-color-accessbaritem-basic-background-normal);
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
    box-sizing: border-box;
    min-height: 36px;
}
.listitem5 {
    align-self: stretch;
    background-color: var(--comp-color-listitem-basic-background-selected);
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
    box-sizing: border-box;
    min-height: 36px;
}
.listitem6 {
    align-self: stretch;
    background-color: var(--comp-color-accessbaritem-basic-background-normal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
    box-sizing: border-box;
    min-height: 36px;
}
.listbox {
    flex: 1;
    border-radius: var(--comp-radius-list);
    background-color: var(--comp-color-accessbaritem-basic-background-normal);
    border: 1px solid var(--comp-color-accessbaritem-basic-background-normal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0px;
}
.listbox-wrapper {
    align-self: stretch;
    width: 230px;
    background-color: var(--sys-color-background-overlay);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-7xs);
    box-sizing: border-box;
    color: var(--comp-color-text-secondary-foreground-normal);
}
.parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xs);
    font-size: var(--sys-typography-style-body3-size);
    color: var(--comp-white-foreground-normal);
}
.container1 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--comp-color-text-secondary-foreground-normal);
}
.container {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 1920px;
    height: 932px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xs);
}
.img-logocolor-icon {
    width: 120px;
    position: relative;
    height: 30px;
}
.product-logo-child {
    width: 105px;
    position: relative;
    height: 28px;
}
.product-logo {
    width: 229px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
}
.accessbar-item {
    background-color: var(--comp-color-accessbaritem-basic-background-normal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-xs);
    box-sizing: border-box;
    min-height: 48px;
}
.accessbar-item-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-wrapper {
    flex: 1;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.product-logo-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.divider2 {
    width: 1px;
    position: relative;
    background-color: var(--comp-color-divider-basic-background-default);
    height: 16px;
}
.accessbar-item6 {
    background-color: var(--comp-color-accessbaritem-basic-background-normal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-xs);
    box-sizing: border-box;
    gap: 10px;
    min-height: 48px;
}
.iconbutton-parent {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-base);
}
.accessbar- {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: var(--sys-shadow-raised);
    background-color: var(--comp-color-accessbar-basic-background-normal);
    width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: var(--sys-typography-style-body3-size);
    color: var(--comp-white-foreground-normal);
}
.case-1133-6-aifvof-location {
    width: 100%;
    position: relative;
    background-color: var(--sys-color-background-base);
    height: 980px;
    overflow: hidden;
    text-align: left;
    font-size: var(--sys-typography-style-header4-size);
    color: var(--comp-color-text-tertiary-foreground-normal);
    font-family: var(--sys-typography-style-body3);
}


body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --sys-typography-style-body3: 'Spoqa Han Sans Neo';
    
    /* font sizes */
    --sys-typography-style-body3-size: 14px;
    --font-size-mini-2: 14.2px;
    --font-size-base-8: 15.8px;
    --sys-typography-style-header4-size: 12px;
    
    /* Colors */
    --sys-color-background-overlay: #282828;
    --sys-color-background-base: #0a0a0a;
    --comp-color-text-tertiary-foreground-normal: rgba(255, 255, 255, 0.6);
    --comp-color-button-secondary-background-normal: rgba(255, 255, 255, 0.4);
    --comp-color-listitem-basic-background-selected: rgba(255, 255, 255, 0.1);
    --comp-color-text-secondary-foreground-normal: rgba(255, 255, 255, 0.9);
    --comp-color-divider-basic-background-default: rgba(255, 255, 255, 0.2);
    --comp-color-accessbaritem-basic-background-normal: rgba(0, 0, 0, 0);
    --comp-color-accessbar-basic-background-normal: #383838;
    --comp-white-foreground-normal: #fff;
    --sys-color-background-black: #000;
    --sys-color-functional-info: #00a3ff;
    --sys-color-functional-error: #ff453a;
    
    /* Spacing */
    --comp-radius-list: 2px;
    
    /* Gaps */
    --gap-base: 16px;
    --gap-9xs: 4px;
    --gap-12xs: 1px;
    --gap-6xs-3: 6.3px;
    --gap-3xs-5: 9.5px;
    --gap-xs: 12px;
    
    /* Paddings */
    --padding-9xs: 4px;
    --padding-xs: 12px;
    --padding-7xs: 6px;
    --padding-5xs: 8px;
    --padding-base-8: 15.8px;
    --padding-base: 16px;
    
    /* Border radiuses */
    --br-10xs: 3px;
    
    /* Effects */
    --sys-shadow-raised: 0px 2px 6px rgba(0, 0, 0, 0.2);
}